/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 3.4em;
}

body {
  background-color: black;
}

.index-tab2-font {
    font-size: 1em;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
	line-height: 1.3em;
}

.index-title-color {
	color: #00995B;
}

.body-color {
	color: #DBDBDB;
}

.index-tab-2 {
	width: 16em;
	height: auto;
	min-height: 26.75em;
}

.git-link {
	font-weight: bold;
}