/* Root CRUD */
:root {
  --body-color: #DBDBDB;
  --brand-color: #00995B;
  --muted-color: #696969;
  --header-bg-color: #303030;
  --body-bg-color: black;
}

/* Header CRUD*/
#header {
  padding: 1em;
  text-align: center;
  background: var(--header-bg-color);
}

.nav-item {
  display: block;
}

.header-content {
  max-width: 100%;
}

.header-name {
  color: var(--body-color);
  font-size: 1.5em;
}

.first-name {
  color: var(--brand-color);
}

/* Increase the font size of the heading */
.page-title {
  font-size: 3.4em;
  text-align: center;
  color: var(--brand-color);
}

body {
  background-color: var(--body-bg-color);
}

.my-picture {
  width: 14em;
  height: auto;
  align-items: center;
}

.index-tab2-font {
    font-size: 1em;
    font-family: sans-serif;
	  line-height: 0.75em;
}

.index-title-color {
	color: var(--brand-color);
}

.body-color {
	color: var(--body-color);
}

.bold-text {
	font-weight: bold;
}

.vertical-line-seperator {
  position: relative;
  margin: 24px 0px -112px 0;
  left: 596px;
  justify-self: start;
  align-self: start;
  display: block;
  border-left: 1px solid rgba(0, 77, 46, 1);
  height: 475px;
  width: 0px;
}

.social-link:hover {
  text-decoration: none;
}

.social-link-img {
  width: 1.875em;
  height: 1.875em;
}

.pad-right {
  padding-right: var(--scale);
}

.pad-bottom {
  padding-bottom: var(--scale);
}

.pad-top {
  padding-top: var(--scale);
}

.form-control {
  color: var(--body-color);
}

.form-control:focus {
  color: var(--body-color);
}

/* Footer CRUD */

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--muted-color);
}